div {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ativa {
  background-color: lightgreen;
}
.inativa {
  background-color: lightcoral;
}
