* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-color: steelblue;
    font-size: 36px;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: lightsteelblue;
    height: 50px;
    border: 3px solid rgb(21, 108, 180);
    border-radius: 0 0 10px 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items:center;
    height: 50px;
}

li.menuItem{
    font-size: 24px;
    font-family: sans-serif;
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
}

img {
    height: 400px;
}

.pai {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 400px;
    padding: 10px;
    margin: 5px;
    box-shadow: 15px 8px 15px #ddd; 
    border-radius: 10px;
}

.card a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    color: black;
}

.image img{
    width: 280px;
    height: auto;
    border-radius: 5px;
}

.titulo {
    font-size: 24px;
    color: orange;
    font-weight: 700;
}

.descricao {
    font-size: 18px;
    color: #151515;
    font-weight: 400;
}