.verde {
  background-color: green;
  color: white;
}
.vermelho {
  background-color: red;
  color: white;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}
button {
  padding: 5px 10px;
  cursor: pointer;
}
