@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Shadows+Into+Light&display=swap');

h1 {
    color: gray;
    font-family: "Shadows Into Light", cursive;
}
p {
    font-size: 24px; /* o em dá maior capacidade de controle do layout */
    font-family: 'Edu AU VIC WA NT Hand', cursive;
    font-weight: 500;
    font-style: inherit; /* significa HERDADO */
    font-style: italic;
}