body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

#produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card h2 {
  font-size: 18px;
  margin-top: 10px;
}

.card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.alinhar-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.alinhar-cards .card {
  margin: 10px;
  width: calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-max-altura {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
